div {
    position: relative;
    overflow: scroll;
}

#trianglesend {
    min-height:300px;
}

.parallax { 
    /* Set a specific height */
    min-height: 100%; 
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

img {
    position: relative;
}

button {
    background: lightgreen;
    border-style:none;
    border-radius:5px;
    width:165px;
    position: relative;
}

.sponsorlogo {
    width:300px;
}

button:hover {
    background: mintcream;
}

h1, h2, h4, h3, p, li {
    font-family: 'Josefin Sans', sans-serif;
    
}
h2, h4, p, li {
    color:purple;
}

  h4 {
    margin-left:18%;
    margin-right:18%;
    font-size:1.4em;
    text-align: center;
    }

h2 {
    font-size:3em;
    text-align: center;
    position: relative;
}


#trianglesend h4 {
    color:purple;
}

#trianglesend h2 {
    color:purple;
}

a {
    text-decoration: none;
}

a:hover {
    background-color: purple;
    color:white;
    cursor: hand;
}

h1 {
    padding-top:200px;
    text-align: center;
    font-size: 5em;
    color:purple;
}

p {
    font-size:1.2em;
    text-align: center;
    position: relative;
}

#wrapper1 {
    height:150%;
    background-color: rebeccapurple;
    margin-top: -3%;
}

#wrapper2 {
    height:140%;
    background-color: rebeccapurple;
    margin-top: -3%;
}

#wrapper3 {
    height:100%;
}
#menu {
    background-color: purple;
    text-align: right;
    position: fixed;
    box-shadow: 2px 2px 2px #888888;
    z-index: 9999;
    width:100%;
    left:0;
    top:0;
}

#menu li {
    display: inline-block;
    text-decoration: none;
    font-size:1.3em;
    padding-right: 2%;
}

#menu a {
    color:white;
}

#menu a:hover {
    background-color: white;
    color:purple;
}

table {
    width:66%;
    position: relative;
}

td {
    padding:2%;
    border: dashed purple 2px;
    text-align: center;
    position: relative;
}

tr {
    height:200px;
    position: relative;
}
#trianglebuffer {
        height:150%;
    }

/*
.mySlides {
    width: 50%;
}
*/

	.column1,
	.column2,
	.column3,
	.column4
	{
		width: 22%;
		float: left;
/*		margin-right: 2%;*/
		margin-left:2.5%;
	}

.eventpics {
    width:100%;
    
}
@media screen and (max-width:765px) {
    .column1,
	.column2,
	.column3,
	.column4
	{
		width: 100%;
	}
    .eventpics {
        width:70%;
        margin-left: 15%;
    }
    
    #wrapper1 {
        height:100%;
    }
    
    #wrapper2 {
        height: 50%;
    }
    
.parallax {
        min-height: 80%;
}

    #trianglebuffer {
        height:300%;
    }
    .sponsorlogo {
        width:75px;
    }
    h4 {
        font-size: 1.2em;
        margin-left: 5%;
        margin-right: 5%;
    }
    
    h1 {
        font-size: 3em;
    }
    
    h2 {
        font-size: 1.6em;
    }
    
    #menu li {
        padding-right: 5%;
    }
  

}
	